@model WeatherResponse

@{
	ViewData["Title"] = "SkyCast";
}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12 mx-auto">
				<h1 class="text-white text-center">World Weather Info</h1>
				<h6 class="text-center">The skyCast is the platform for  world weather info</h6>
				<form id="weatherForm" class="custom-form mt-4 pt-2 mb-lg-0 mb-5">
					<div class="input-group input-group-lg">
						<span class="input-group-text bi-search" id="basic-addon1"></span>
						<input type="search" class="form-control" id="cityId" placeholder="Enter Your City" aria-label="Search">
						<button type="submit" id="searchId" class="form-control">Search</button>
					</div>
					<div class="text-center mt-3">
						<a asp-controller="SkyCast" asp-action="SkyCastIndex" class="btn btn-danger btn-sm px-3 py-1">Reset</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


<section class="featured-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 col-12">
				<div class="custom-block custom-block-overlay">
					<div class="d-flex flex-column h-100">
						<div class="custom-block-overlay-text d-flex">
							<div>
								<!-- Weather Display -->
								<div id="weatherResult">Fetching weather...</div>
							</div>
						</div>
						<div class="section-overlay"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@section Scripts {
	<script src="~/js/skycastindex.js"></script>
}
